#[/Global/BuildTool/Autotools.gitignore]
# http://www.gnu.org/software/automake
Makefile.in
# http://www.gnu.org/software/autoconf
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

#[/Global/BuildTool/CMake.gitignore]
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

#[/Global/BuildTool/Leiningen.gitignore]
pom.xml
*jar
/lib/
/classes/
/targets/
.lein-deps-sum

#[/Global/BuildTool/Maven.gitignore]
target/

#[/Global/BuildTool/SBT.gitignore]
# SBT .gitignore
# recommended: http://code.google.com/p/simple-build-tool/wiki/Setup#Version_Control
target/
lib_managed/
src_managed/
project/boot/

#[/Global/BuildTool/Waf.gitignore]
# for projects that use Waf for building: http://code.google.com/p/waf/
.waf-*
.lock-*

#[/Global/Editor_OR_IDE/Eclipse.gitignore]
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
# External tool builders
.externalToolBuilders/
# Locally stored "Eclipse launch configurations"
*.launch
# CDT-specific
.cproject
# PDT-specific
.buildpath

#[/Global/Editor_OR_IDE/Emacs.gitignore]
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
# Org-mode
.org-id-locations
*_archive

#[/Global/Editor_OR_IDE/Espresso.gitignore]
*.esproj

#[/Global/Editor_OR_IDE/FlexBuilder.gitignore]
bin/
bin-debug/

#[/Global/Editor_OR_IDE/IntelliJ.gitignore]
*.iml
*.ipr
*.iws
.idea/

#[/Global/Editor_OR_IDE/MonoDevelop.gitignore]
#User Specific
*.userprefs
*.usertasks
#Mono Project Files
*.pidb
*.resources
test-results/

#[/Global/Editor_OR_IDE/NetBeans.gitignore]
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

#[/Global/Editor_OR_IDE/SublimeText.gitignore]
# SublimeText project files
*.sublime-workspace

#[/Global/Editor_OR_IDE/TextMate.gitignore]
*.tmproj
*.tmproject
tmtags

#[/Global/Editor_OR_IDE/Vim.gitignore]
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

#[/Global/Editor_OR_IDE/VisualStudio.gitignore]
## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.
# User-specific files
*.suo
*.user
*.sln.docstates
# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc
# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
# Visual Studio profiler
*.psess
*.vsp
*.vspx
# Guidance Automation Toolkit
*.gpState
# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
# TeamCity is a build add-in
_TeamCity*
# DotCover is a Code Coverage Tool
*.dotCover
# NCrunch
*.ncrunch*
.*crunch*.local.xml
# Installshield output folder
[Ee]xpress/
# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
# Click-Once directory
publish/
# Publish Web Output
*.Publish.xml
*.pubxml
# NuGet Packages Directory
## TODO: If you have NuGet Package Restore enabled, uncomment the next line
#packages/
# Windows Azure Build Output
csx
*.build.csdef
# Windows Store app package directory
AppPackages/
# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings
# RIA/Silverlight projects
Generated_Code/
# Backup & report files from converting an old project file to a newer
# Visual Studio version. Backup files are not needed, because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
# SQL Server files
App_Data/*.mdf
App_Data/*.ldf

#[/Global/OS/Linux.gitignore]

#[/Global/OS/OSX.gitignore]
.DS_Store
.AppleDouble
.LSOverride
Icon
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes
*dSYM

#[/Global/OS/Windows.gitignore]
# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/

#[/Global/OtherVersionSystem/Bazaar.gitignore]
/.bzr

#[/Global/OtherVersionSystem/CVS.gitignore]
/CVS/*
*/CVS/*
.cvsignore
*/.cvsignore

#[/Global/OtherVersionSystem/Mercurial.gitignore]
/.hg/*
*/.hg/*
.hgignore

#[/Global/OtherVersionSystem/SVN.gitignore]
.svn/

#[/Global/Util/Archives.gitignore]
# It's better to unpack these files and commit the raw source because
# git has its own built in compression methods.
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.bz2
*.xz
*.lzma
#packing-only formats
*.iso
*.tar
#package management formats
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm

#[/Global/Util/Redcar.gitignore]
.redcar

#[/Global/Util/Tags.gitignore]
# Ignore tags created by etags and ctags
TAGS
!TAGS/
tags
!tags/

#[/Global/Util/VirtualEnv.gitignore]
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ss]cripts


#[/Language/go/Go.gitignore]
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
# Folders
_obj
_test
# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.exe


*.test
*.output
